<canvas id="domain_canvas" class="canvas" width="500" height="500">
</canvas>
<div id="finder" class="hidden">
    <ul class="vertical-nav-menu">
        <li>
            <a href="#"  class="node" data-id="domain">
                <i class="metismenu-icon pe-7s-rocket"></i>
                Domain
            </a>
        </li>
        <li>
            <a href="#"  class="node" data-id="entry">
                <i class="metismenu-icon pe-7s-rocket"></i>
                Entry
            </a>
        </li>
        <li class="app-sidebar__heading">UI Components</li>
        <li>
            <a href="#">
                <i class="metismenu-icon pe-7s-diamond"></i>
                Requests
                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
            </a>
            <ul>
                <li>
                    <a href="#" data-id="get" class="node">
                        <i class="metismenu-icon"></i>
                        GET
                    </a>
                </li>

                <li>
                    <a href="#" data-id="post" class="node">
                        <i class="metismenu-icon">
                        </i>POST
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">
                <i class="metismenu-icon pe-7s-diamond"></i>
                Template
                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
            </a>
            <ul>
                <li>
                    <a href="#" data-id="template" class="node">
                        <i class="metismenu-icon"></i>
                        Template
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" data-id="response" class="node">
                <i class="metismenu-icon"></i>
                Response
            </a>
        </li>
    </ul>
</div>
<div id="editor">
    <h5>Editor</h5><hr>
    <div id="editor_container">
    </div>
    <hr>
    <a href="#" id="delete_node_button">delete node</a>
</div>
