<canvas id="domain_canvas" class="canvas" width="500" height="500">
</canvas>
<div id="finder" class="hidden">
    <ul class="vertical-nav-menu">
        <li>
            <a href="#"  class="node" data-id="domain">
                <i class="metismenu-icon pe-7s-rocket"></i>
                Domain
            </a>
        </li>
        <li class="app-sidebar__heading">UI Components</li>
        <li>
            <a href="#">
                <i class="metismenu-icon pe-7s-diamond"></i>
                Elements
                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
            </a>
            <ul>
                <li>
                    <a href="assets/htmltemplates/elements-buttons-standard.html">
                        <i class="metismenu-icon"></i>
                        Buttons
                    </a>
                </li>

                <li>
                    <a href="assets/htmltemplates/elements-badges-labels.html">
                        <i class="metismenu-icon">
                        </i>Badges
                    </a>
                </li>
                <li>
                    <a href="assets/htmltemplates/elements-cards.html">
                        <i class="metismenu-icon">
                        </i>Cards
                    </a>
                </li>
                <li>
                    <a href="assets/htmltemplates/elements-list-group.html">
                        <i class="metismenu-icon">
                        </i>List Groups
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="assets/htmltemplates/tables-regular.html">
                <i class="metismenu-icon pe-7s-display2"></i>
                Tables
            </a>
        </li>
        <li class="app-sidebar__heading">Widgets</li>
        <li>
            <a href="assets/htmltemplates/dashboard-boxes.html">
                <i class="metismenu-icon pe-7s-display2"></i>
                Dashboard Boxes
            </a>
        </li>
    </ul>
</div>
<div id="editor">
    <h5>Editor</h5>
    <div id="editor_container">
        <hr>
        <input class="editor_input" type="text" value="{{value}}" placeholder="{{name}}">
    </div>
</div>
